<%= render 'layerbegin' %>

<div class="page-content">
  <div class="page-header">
    <h1>
      新增管理员
    </h1>
  </div><!-- /.page-header -->
<%= render 'form', admin: @admin %>
</div>

<%= render 'layerend' %>
