<%= render 'layerbegin' %>

<div class="page-content">
  <div class="page-header">
    <h1>
      新增角色
    </h1>
  </div><!-- /.page-header -->
<%= render 'form', role: @role %>
</div>

<%= render 'layerend' %>
